<!DOCTYPE html>
<html>
  <head>
    <title>DETrain02</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-8 black text-center"><%= yield %></div>
    <div class="col-lg-4 grey text-center">

		  <h2>Action Cable Messages</h2>
		  <div class="panel panel-default">
		    <div class="panel-heading">WebNotificationsChannel</div>
		    <div class="panel-body">Panel Content</div>
		    <div id='messages' class="panel-body"></div>
		  </div>

    
    </div>
  </div>
</div>

  </body>
</html>
